{% extends 'base.html' %}

{% block content %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <span class="closebtn">&times;</span>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
<h1>Please enter your voucher code here</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Apply">
</form>
{% endblock %}